<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>COVID19</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  
<style>
  ::placeholder {
    color:rgb(13, 13, 14);
    opacity:0.8; /* Firefox */
    font-weight: bold;
  }
  </style>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>

</head>
<body style="background-image: url('{{ url_for('static', filename='bg.jpg') }}'); 
background-repeat:no-repeat;
background-size:cover;
height:100vh;
display:flex;
">
<marquee direction="left"><h3>COVID19</h3></marquee>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

<div class="login card">
  <pre>
  <h1 style="width: fit-content;">Upload Image To Detect<br> COVID19</h1>
  <strong>Choose Image:</strong>
  <input class="btn btn-primary btn-block btn-large" type="file" name="file" accept="image/*" multiple>
  <input type="submit" value="Predict!" class="btn btn-primary btn-block btn-large">
  </pre>
</div>
</form>


<!--<form role="form" method="post" action="/upload"></form>
<div class="login card">

  <h1 class="heading">Upload X-RAY Image</h1>
  
  <label for="txtPost">Photos: </label><br>
      <span class="btn btn-primary btn-file">
          Browse… <input type="file" id="fileupload" name="file" multiple>
      </span>
      </span>
  <p class="text-center">
    <input id="singlebutton" name="publish" class="btn btn-primary btn-block btn-large" type="submit" value="Publish" />
</p>
   
 </div>
</form>-->

</body>
</html>
